[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numba = "*"
numpy = "*"
rlglue = {editable = true, ref = "0.4", git = "ssh://git@github.com/andnp/RlGlue"}

[dev-packages]
mypy = "*"
flake8 = "*"
commitizen = "*"
pre-commit = "*"
pipenv-setup = {extras = ["black"], version = "*"}
matplotlib = "*"
